* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  cursor: url(mouse.png), auto;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
#light {
  background: white;
  transition-duration: 500ms;
}
#dark {
  background: black;
  transition-duration: 500ms;
}

/*--------------------------------MAIN SCREEN---------------------------------------------------------*/
.Desktop-StartScreen {
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
}
#light .Desktop-StartScreen {
  background-image: url('/GRIS_Background.jpg');
  transition-duration: 500ms;
}
#dark .Desktop-StartScreen {
  background-image: url('/GRIS_Background_DARK.jpg');
  transition-duration: 500ms;
}


/*--------------------------------CLOCK---------------------------------------------------------*/
.city-time {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
}

.time-separator {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*--------------------------------TASK BAR---------------------------------------------------------*/
.Task_Bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  color: #FFFFFF;
  font-size: 1.5rem;
}
#light .Task_Bar {
  transition-duration: 500ms;
  background: rgba(71, 174, 174, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(71, 174, 174, 0.3);
}
#dark .Task_Bar {
  transition-duration: 500ms;
  background: rgba(188, 96, 93, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(188, 96, 93, 0.3);
}

#Menu_Section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
#Menu_Section p{
  user-select: none;
  cursor: pointer;
}

#openWindows_Section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: default;
  height: 100%;
  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  
}

#openWindows-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 5px;
  padding: 10px;
  width: 200px;
  overflow: hidden;
}
#light #openWindows-icon:hover {
  border-radius: 5px;
  background-color: rgba(71, 174, 174, 0.5);
}
#dark #openWindows-icon:hover {
  border-radius: 5px;
  background-color: rgba(188, 96, 93, 0.5);
}

#taskBarIcon-image {
  height: 30px;
  width: auto;
}
#taskBarIcon-text {
  font-size: 14px;
}

#Date_And_Time_Section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
#Vertical_Line {
  border-right: 1px solid #FFFFFF;
  height: 2.5rem;
  margin: 20px;
}
#dot {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #bbb;
  border-radius: 50%;
}
#darkMode-Button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: #FFFFFF;
  transition: 500ms;
  outline: none;
  cursor: pointer;
}
#darkMode-Button::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  transform: (-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #bc605d;
  transition: left 300ms;
}
#darkMode-Button:checked {
 background-color: white;
}
#darkMode-Button:checked::after {
  left: 40%;
  background-color: #47aeae;
}


/*--------------------------------ICONS---------------------------------------------------------*/
.icon-Structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  cursor: default;
  height: 7rem;
  width: 7rem;
}
#icon-Image {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
  margin-bottom: 5px;
}
#icon-Text {
  width: 5rem;
  text-align: center;
  flex-wrap: wrap;
  word-wrap:break-word;
}
#light .icon-Structure {
  color: black;
  transition-duration: 500ms;
}
#light .icon-Structure:hover {
  border-radius: 5px;
  background-color: rgba(71, 174, 174, 0.5);
}
#dark .icon-Structure {
  color: #FFFFFF;
  transition-duration: 500ms;
}
#dark .icon-Structure:hover {
  border-radius: 5px;
  background-color: rgba(188, 96, 93, 0.5);
}


/*--------------------------------Window---------------------------------------------------------*/
.Window-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #bc605d;
  height: 2.5rem;
  cursor: default;
  flex-shrink: 0;

}
#light .Window-Header {
  transition-duration: 500ms;
  background: rgba(71, 174, 174, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(71, 174, 174, 0.3);
  border-radius: 5px 5px 0px 0px;
}
#dark .Window-Header {
  transition-duration: 500ms;
  background: rgba(188, 96, 93, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(188, 96, 93, 0.3);
  border-radius: 5px 5px 0px 0px;
  color: #ede6e6;
}
#Window-Left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#Window-Image {
  height: 2rem;
}
#Window-Right {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
#Window-Minimize, 
#Window-MMaximize, 
#Window-Close {
  display: flex;
  align-items: center;
  height: 100%; 
  padding: 0 0.5rem;
  cursor: pointer;
}
#Window-Close {
  border-radius: 0px 5px 0px 0px;
}
#Window-Minimize:hover, 
#Window-MMaximize:hover {
  cursor: pointer;
}
#Window-Close:hover {
  cursor: pointer;
}
#light #Window-Minimize:hover {
  background-color: #98c2c2;
  transition-duration: 500ms;
}
#dark #Window-Minimize:hover {
  background-color: #bd8381;
  transition-duration: 500ms;
}
#light #Window-MMaximize:hover {
  background-color: #98c2c2;
  transition-duration: 500ms;
}
#dark #Window-MMaximize:hover {
  background-color: #bd8381;
  transition-duration: 500ms;
}
#light #Window-Close:hover {
  background-color: #bd8381;
  transition-duration: 500ms;
}
#dark #Window-Close:hover {
  background-color: #98c2c2;
  transition-duration: 500ms;
}
.Window-Body {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  flex-grow: 1;
  overflow-y: auto;
}

.Window-Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}



/*--------------------------------Rnd---------------------------------------------------------*/
.rnd-Options {
  flex-direction: column;
  border-radius: 5px 5px 0px 0px;
  min-width: 301px;
  min-height: 100px;
}
.rnd-Options-Fullscreen {
  position: absolute;
  border-radius: 5px 5px 0px 0px;
  min-width: 301px;
  min-height: 100px;
  z-index: 9999;
}
#light .rnd-Options {
  border: 1px solid #98c2c2;
}
#dark .rnd-Options {
  border: 1px solid #bd8381;
}


/*--------------------------------JOB_TEXTFILES---------------------------------------------------------*/
.Job_TextFiles-Container {
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding-left: 5px;
}
#Job-List {
  height: 400px;
  width: 400px;
}
#Generated-JobList {
  margin-bottom: 15px;
}
#JobList-Information {
  margin-top: 5px;
}
#JobList-Information-Dates {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

/*--------------------------------DROPDOWN MENU---------------------------------------------------------*/

.Menu-Container {
  background-color: #47aeae;
  position: absolute;
  z-index: 90;
  border-radius: 5px 5px 5px 5px;
  border: 3px solid #98c2c2;
}
.Menu-Container ~ #overlay {
  display: block;
}
.Menu-Items {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  gap: 15px;
}
.Menu-Items img{
  height: 2.5rem;
}
#overlay {
  background-color: rgba(0, 0, 0, 0.0);
  position: fixed;
  inset: 0;
  z-index: 0;
}

#light .Menu-Container {
  color: black;
  background-color: #47aeae;
  border: 3px solid #98c2c2;
  transition-duration: 500ms;
}
#dark .Menu-Container {
  color: #FFFFFF;
  background-color: #bc605d;
  border: 3px solid #bd8381;
  transition-duration: 500ms;
}
#light .Menu-Items:hover {
  border-radius: 30px 0px 0px 0px;
  background-color: #98c2c2;
  transition-duration: 200ms;
}
#dark .Menu-Items:hover {
  border-radius: 30px 0px 0px 0px;
  background-color: #bd8381;
  transition-duration: 200ms;
}

.Dialouge-Area {
  display: flex;
  overflow: auto;
  height: 400px;
  width: 400px;
  background-color: #bbb;
}


/*--------------------------------FOLDER-ICON-STRUCTURE---------------------------------------------------------*/

.Folder-Container{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  width: 100%;
  height: 100%;
}
#folder-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 1.5rem;
}
#folder-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}




/*--------------------------------FOLDER-SIDEBAR-----------------------------------------*/
#folder-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #bc605d;
  overflow: scroll;
  overflow-x: hidden;
  flex-shrink: 0;
  background-color: whitesmoke;

}
#folder-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

#folder-sidebar-image {
  height: 2rem;
  width: 2rem;
}
#folder-sidebar-text {

}
#folder-section:hover {
  background-color: #bd8381;
  transition-duration: 200ms;
}
#folder-goBack-button-active {

}
#folder-goBack-button-passive {
  opacity: 0.6;
  cursor: not-allowed;
}

/*--------------------------------FOLDER-ICONS---------------------------------------------------------*/
.folder-icon-structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  cursor: default;
  height: 5rem;
  width: 5rem;

}
#folder-icon-image {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
  margin-bottom: 5px;
}
#folder-icon-text {
  width: 5rem;
  text-align: center;
  flex-wrap: wrap;
  word-wrap:break-word;
}
#light .folder-icon-structure {
  color: black;
  transition-duration: 500ms;
}
#light .folder-icon-structure:hover {
  border-radius: 5px;
  background-color: rgba(71, 174, 174, 0.5);
}
#dark .folder-icon-structure {
  color: black;
  transition-duration: 500ms;
}
#dark .folder-icon-structure:hover {
  border-radius: 5px;
  background-color: rgba(188, 96, 93, 0.5);
}


/*--------------------------------IMAGE-VIEWER---------------------------------------------------------*/
.image-viewer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #202020;
}
#image-viewer-picture {
  overflow: auto;
}


/*--------------------------------Empty-FOLDER---------------------------------------------------------*/
.empty-folder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-left: 20px;
  margin-right: 20px;
  gap: 5px;
}
#empty-folder-picture {
  max-height: 20rem;
  width: auto;
  border-radius: 15px;
}
#empty-folder-text{

}


/*--------------------------------CHATBOT---------------------------------------------------------*/

.chatbot-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: 5px solid borderColors;
  border-radius: 1000px;
  height: 120px;
  width: 120px;
  cursor: pointer;

  animation: 
    borderColors 2s alternate-reverse infinite,
    bounce 2s alternate-reverse infinite;
}
@keyframes borderColors {
  from  {background-color: #bc605d;}
  to {background-color:#47aeae;}
}
@keyframes bounce {
  from  {bottom: 50px; right: 50px;}
  to {bottom: 60px; right: 50px;}
}


#chatbot-picture {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}
#conversation-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 20px;
  padding: 20px;
  overflow: auto;
  overflow-x: hidden;
  gap: 30px;
}
.chat-message-pair {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#kidelbejn-answer {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 70%;
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#kidelbejn-avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  gap: 2px;
}
#kidelbejn-avatar-section p {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1px;
}
#kidelbejn-avatar-photo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

#user-message {
  display: flex;
  flex-direction:row;
  border-radius: 5px;
  align-items: center;
  justify-content: end;
  margin-left: auto; 
  gap: 10px;
  padding: 10px;
  width: 70%;
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#user-avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  gap: 2px;
}
#user-avatar-section p{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1px;
}
#user-avatar-photo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

#message-area {
  display: flex;
  flex-direction: row;
  background-color:#bbb;
  height: 60px;
  flex-shrink: 0;
  width: 70%;
  border-radius: 50px;
  background-color: transparent;
  gap: 10px;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}
#inputField-chatBot {
  width: 100%;
  font-size: 20px;
  overflow: scroll;
  border: none;
  border-radius: 50px;
  padding-left: 10px;
}
#inputFieldd-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: 500ms;
  flex-shrink: 0;
}
#light #inputFieldd-button:hover {
  background-color: #98c2c2;
  transition: 500ms;
}
#dark #inputFieldd-button:hover {
  background-color: #bd8381;
  transition: 500ms;
}
#chatbot-button-arrowLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
#chatbot-button-catLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  animation: spinningLogo 0.3s alternate-reverse infinite;
}

@keyframes spinningLogo {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}

#light #kidelbejn-answer  {
  color: black;
  background-color: #98c2c2;
  transition-duration: 500ms;
}
#dark #kidelbejn-answer {
  color: #FFFFFF;
  background-color: #bd8381;
  transition-duration: 500ms;
}
#light #kidelbejn-avatar-section p{
  color: black;
  background-color: #FFFFFF;
  transition-duration: 500ms;
}
#dark #kidelbejn-avatar-section p{
  color: #FFFFFF;
  background-color: black;
  transition-duration: 500ms;
}
#light #user-message  {
  color: black;
  background-color: #b3c9c9;
  transition-duration: 500ms;
}
#dark #user-message {
  color: #FFFFFF;
  background-color: #bfa4a3;
  transition-duration: 500ms;
}
#light #user-avatar-section p{
  color: black;
  background-color: #FFFFFF;
  transition-duration: 500ms;
}
#dark #user-avatar-section p{
  color: #FFFFFF;
  background-color: black;
  transition-duration: 500ms;
}

/*--------------------------------CV---------------------------------------------------------*/
.CV-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 20px;
  gap: 20px;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

#CV-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
#CV-header-icons {
  font-size: 40px;
}

#CV-left_side {
  width: 30%;
  background-color: #51829B;
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
  border-radius: 5px;
}
#CV-summary {
  background-color:darkred;
}

#CV-avatar-section {
  position: relative;
}
#CV-picture {
  display: block;
  height: auto;
  width: 100%;
}
#CV-name {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  font-weight: bold;
  font-size: 20px;
}

#CV-contactInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
#CV-contactInfo-object {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


#CV-Skills {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
#CV-specific-skill {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#progressBar {
  width: 100%;
  background-color: #EADFB4;
  border-radius: 10px;
}
#progressBar-percent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #F6995C;
}

#CV-education {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
#education-entry {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#education-dates {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
}

#CV-right_side {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 20px;
}

#CV-about {
  padding: 10px;
  background-color: #9BB0C1;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#CV-workExperience {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #9BB0C1;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#job-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#job-entry {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#work-dates {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
}
#CV-border {
  border-top: 2px solid #EADFB4;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

#CV-left_side::-webkit-scrollbar,
#CV-about::-webkit-scrollbar,
#CV-workExperience::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#CV-left_side::-webkit-scrollbar-track,
#CV-about::-webkit-scrollbar-track,
#CV-workExperience::-webkit-scrollbar-track {
  background: #EADFB4;
  border-radius: 10px;
}

#CV-left_side::-webkit-scrollbar-thumb,
#CV-about::-webkit-scrollbar-thumb,
#CV-workExperience::-webkit-scrollbar-thumb {
  background: #F6995C;
  border-radius: 10px;
}

#CV-left_side::-webkit-scrollbar-thumb:hover,
#CV-about::-webkit-scrollbar-thumb:hover,
#CV-workExperience::-webkit-scrollbar-thumb:hover {
  background: #f6873d;
}
#CV-left_side::-webkit-scrollbar-corner,
#CV-about::-webkit-scrollbar-corner,
#CV-workExperience::-webkit-scrollbar-corner {
  background: transparent;
}


/*--------------------------------OTHER---------------------------------------------------------*/

.YOUTUBE {
  width: 100%;
  height: 100%;
}

#light #conversation-window::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#light #conversation-window::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}
#light #conversation-window::-webkit-scrollbar-thumb {
  background: #98c2c2;
  border-radius: 10px;
}
#light #conversation-window::-webkit-scrollbar-thumb:hover {
  background: #98c2c2;
}
#light #conversation-window::-webkit-scrollbar-corner {
  background: transparent;
}

#dark #conversation-window::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#dark #conversation-window::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}
#dark #conversation-window::-webkit-scrollbar-thumb {
  background: #bd8381;
  border-radius: 10px;
}
#dark #conversation-window::-webkit-scrollbar-thumb:hover {
  background: #bd8381;
}
#dark #conversation-window::-webkit-scrollbar-corner {
  background: transparent;
}


